ul{width: 50%;
   height: 2cm;
   padding: 1cm 0 0 1cm;
   border: 20px dotted green;
   }
li{background-color: lightseagreen;
   height: 1cm;
   padding: 3mm;
   list-style: none;
   float: left;
   margin: 2px;
   }